<section>
  <script
    src="https://giscus.app/client.js"
    data-repo="neonpie/neonpie-blog"
    data-repo-id="R_kgDONrr3tQ"
    data-category="Announcements"
    data-category-id="DIC_kwDONrr3tc4CmFzP"
    data-mapping="pathname"
    data-strict="1"
    data-reactions-enabled="1"
    data-emit-metadata="0"
    data-input-position="bottom"
    data-theme="catppuccin_macchiato"
    data-lang="en"
    data-loading="lazy"
    crossorigin="anonymous"
    async></script>
</section>
